@import url(./colors.css);

.info-container {
  height: 100vh;
  /* background-color: var(--light-blue); */
  background: linear-gradient(180deg, rgba(98,104,160,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(180deg, rgba(98,104,160,1) 11%, rgba(0,0,0,1) 100%);
}
