.main-container {
  box-sizing: border-box;
  height: 90vh;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  width: 1200px;
  height: auto;
}