.main-container {
  box-sizing: border-box;
  height: 90vh;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.messi-logo {
  background-color: #000;
}

.messi-logo > img {
  width: 200px;
  transition: all 0.7s ease;
}

.messi-logo > img:hover {
  filter: drop-shadow(10px 10px 10px rgb(98, 104, 160));
}

.messi-profile > img {
  width: 550px;
  transition: all 0.5s ease;
}
