@import url(./colors.css);
@import url(./animations/flag-animation.css);

.main-container {
  box-sizing: border-box;
  height: 90vh;
  color: white;
  background: linear-gradient(
    117deg,
    rgba(45, 27, 66, 1) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 82%,
    rgba(45, 27, 66, 1) 100%
  );
}

.main-container .center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
}

.messi-logo {
  background-color: #000;
}

.messi-logo > img {
  width: 170px;
  transition: all 0.5s ease;
}

.messi-logo > img:hover {
  filter: drop-shadow(10px 10px 10px var(--light-blue));
}

.messi-profile > img {
  width: 620px;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1200px) {
  .main-container .center {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 20px;
  }

  .messi-logo > img {
    width: 130px;
  }
  .messi-profile > img {
    width: 420px;
  }
}

@media screen and (max-width: 992px) {
  .main-container {
    box-sizing: border-box;
    height: 90vh;
    background-color: #000;
    color: white;
    background: #000;
  }
}
