@import url(./colors.css);

.navbar-container {
  height: 10vh;
  background: #000;
  color: white;
  border-bottom: 1px solid rgb(98, 104, 160, 0.2);
  display: flex;
  justify-content: space-between;
}

.navbar-container > div {
  display: flex;
  justify-content: center;
  margin: 0 100px;
}

a {
  margin-top: 30px;
}

svg {
  fill: var(--svg-main-color);
  width: 2.2em;
  margin: 0 20px;
  transition: all 1s ease;
}

svg:hover,
svg:focus {
  cursor: pointer;
}

.information:hover,
.statistics:hover,
.timeline:hover {
  transform: rotate(15deg);
  fill: var(--light-blue);
}

.timeline:hover {
  fill: #fff;
}

.instagram:hover {
  fill: var(--svg-instagram);
  transform: rotate(-15deg);
}

.facebook:hover {
  fill: var(--svg-facebook);
  transform: rotate(-15deg);
}

.youtube:hover {
  fill: var(--svg-youtube);
  transform: rotate(-15deg);
}

@media screen and (max-width: 768px) {
  svg {
    width: 1.8em;
    margin: 0 15px;
    justify-content: center;
  }
}

/* IPads */
@media screen and (max-width: 820px) and (max-height: 1024px) and (orientation: portrait) {
  svg {
    width: 1em;
    margin: 0 15px;
    justify-content: center;
  }
} 