@import url(./colors.css);

.navbar-container {
  height: 10vh;
  background: #000;
  color: white;
  border-bottom: 1px solid rgb(98, 104, 160, 0.2);
  display: flex;
  justify-content: center;
}

.navbar-container > div {
  display: flex;
  justify-content: center;
  margin: 0 100px;
}

svg {
  fill: var(--svg-main-color);
  width: 2em;
  margin: 0 10px;
  transition: all 1s ease;
}

svg:hover,
svg:focus {
  cursor: pointer;
}

.information:hover,
.statistics:hover,
.timeline:hover {
  transform: rotate(15deg);
  fill: var(--light-blue);
}

.statistics:hover {
  fill: #fff;
}

.instagram:hover {
  fill: var(--svg-instagram);
  transform: rotate(-15deg);
}

.facebook:hover {
  fill: var(--svg-facebook);
  transform: rotate(-20deg);
}

.youtube:hover {
  fill: var(--svg-youtube);
  transform: rotate(-15deg);
}

@media screen and (max-width: 600px) {
  .navbar-container > div {
    margin: 0 50px;
  }
}

@media screen and (max-width: 450px) {
  .navbar-container > div {
    margin: 0;
  }

  .svg {
    margin: 0 5px;
  }
}
