.navbar-container {
  height: 10vh;
  background: #000;
  color: white;
  border-bottom: 1px solid rgb(98, 104, 160, 0.2);
  display: flex;
  justify-content: center;
}

.navbar-container > div {
  display: flex;
  justify-content: center;
  margin: 0 100px;
}

svg {
  fill: rgba(255, 255, 255, 0.6);
  width: 2em;
  margin: 0 10px;
  transition: all 1s ease;
}

svg:hover,
svg:focus {
  cursor: pointer;
}

.instagram:hover {
  fill: rgb(168, 74, 168);
  transform: rotate(-15deg);
}

.facebook:hover {
  fill: #1877f2;
  transform: rotate(-20deg);
}

.youtube:hover {
  fill: red;
  transform: rotate(-15deg);
}

@media screen and (max-width: 600px) {
  .navbar-container > div {
    margin: 0 50px;
  }
}

@media screen and (max-width: 450px) {
  .navbar-container > div {
    margin: 0;
  }

  .svg {
    margin: 0 5px;
  }
}
