.timeline-container {
  height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.timeline-section {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(41, 36, 60, 1) 100%);
  min-height: 100vh;
  padding: 100px 15px;
}
.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #2f363e;
  left: calc(50% - 1px);
}
.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}
.timeline-dot {
  height: 16px;
  width: 16px;
  background-color: #eaa023;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date {
  font-size: 18px;
  color: #eaa023;
  margin: 6px 0 15px;
}
.timeline-content {
  background-color: #2f363e;
  padding: 30px;
  border-radius: 5px;
}
.timeline-content h3 {
  font-size: 20px;
  color: #ffffff;
  margin: 0 0 10px;
  font-weight: 600;
}
.timeline-content p {
  color: #c8c8c8;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: Mukta;
}

/* Backgrounds */

.y-2004:hover {
  background: url(../assets/images/timeline/2004.jpg);
}

.y-2005:hover {
  background: url(../assets/images/timeline/2005.jpg);
}

/* responsive */
@media (max-width: 767px) {
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .timeline-dot {
    left: 0;
  }
  .y-2004:hover,
  .y-2005:hover,
  .y-2006:hover,
  .y-2007:hover,
  .y-2008:hover,
  .y-2009:hover,
  .y-2010:hover,
  .y-2011:hover,
  .y-2012:hover,
  .y-2013:hover,
  .y-2014:hover,
  .y-2015:hover,
  .y-2016:hover,
  .y-2017:hover,
  .y-2018:hover,
  .y-2020:hover,
  .y-2021:hover,
  .y-2022:hover,
  .y-2023:hover {
    height: 159px;
  }
}
